# 🌐 Server Configuration
PORT=3000
NODE_ENV=development

# 🐘 Database Configuration (Prisma)
# Replace with your local or docker connection string
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE?schema=public"

# Authentication (Coming Soon)
JWT_SECRET=your_super_secret_key_here